token: tokentokentokentokentokentokentokentoken
db_name: public_repos.db
db_username: root
db_password: password
db_host: localhost
org: 
        VerySwagOrg_Inc:
        	- vasiliy_pupkin@veryswagorg.com
	AnotherGreatORG:
		- mail@mail.mail
