token: tokentokentokentokentokentokentokentoken
db_name: public_repos.db
db_username: root
db_password: password
db_host: localhost
org: 
        VerySwagOrg_Inc:
	        token: tokentokentokentokentokentokentokentoken
	        emails:
	               - vasiliy_pupkin@veryswagorg.com
	AnotherGreatORG:
	        token: t2okent2okent2okento2kento2kentok2ento2kentoken
	        emails:
	               - vasiliy_pupkin@anothergorg.com
